<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citi.mc"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
	<instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.citi.mc" android:label="Test for my MC" />
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.Manifest.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"/>  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.WAKE_LOCK" /> 
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />

 	<!-- import jpush Required -->
    <permission android:name="com.citi.mc.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
   
    <!-- Required -->
   <uses-permission android:name="com.citi.mc.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!--since 1.6.0 -->
     
   <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
     
     
    
    
    <application
         android:allowBackup="true"
         android:icon="@drawable/ic_launcher"
         android:label="@string/app_name"
         android:theme="@style/AppTheme" 
         android:name="com.activeandroid.app.Application"
         android:persistent="true"
        >
        <activity
            android:name="com.citi.mc.app.AppStartActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.citi.mc.app.LeaveMessageActivity"
            android:label="@string/app_name"
             android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.citi.mc.app.EnterpriseData"
            android:label="@string/app_name"
             android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.citi.mc.app.MainTabActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.citi.mc.app.FindbackKey"
             android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.citi.mc.app.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.citi.mc.app.SetActivity"
            android:label="@string/app_name" 
             android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.citi.mc.app.AlertActivity"
            android:label="@string/app_name"
             android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.citi.mc.app.FeedBackActivity"
            android:label="@string/app_name"
             android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.citi.mc.app.ContactUsActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
       <meta-data android:name="AA_DB_NAME" android:value="DataBase.db" />
	   <meta-data android:name="AA_DB_VERSION" android:value="2" /> 
	   
	   <service 
	       		android:name="com.citi.mc.service.MessageService"
	       		 android:priority = "2147483647">  
	         <intent-filter>
                <action android:name="com.citi.mc.service.PollingService"/>
            </intent-filter>
       </service> 
	   <!-- service==================== -->
	   
	   <receiver
            android:name="com.citi.mc.receiver.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- receiver 網絡狀態-->
        <receiver android:name="com.citi.mc.receiver.ServiceAutoStarter">
       		<intent-filter android:priority="2147483647" >
       		    
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />               
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听情景切换 -->
                <action android:name="android.media.RINGER_MODE_CHANGED" />               
            </intent-filter>
  		</receiver>
  		<!-- receiver 機器是否啟動 -->
  		<uses-library android:name="android.test.runner" />
  		<!-- android test -->
  		
  		
  		<!-- import jpush Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
         
        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
          <intent-filter android:priority="1000"> <!--since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--since 1.3.5 -->
                <category android:name="com.citi.mc" /> <!--since 1.3.5 -->
            </intent-filter> <!--since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
     	<!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.citi.mc" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" >
            
       </receiver>
        
        <!-- 广播接收器 -->
        <receiver
            android:name="com.citi.mc.receiver.MessageReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <category android:name="com.citi.mc" />
            </intent-filter>
        </receiver>
        <meta-data android:name="BaiduMobAd_CHANNEL" android:value="developer_default"/>
        <meta-data android:name="BaiduMobAd_STAT_ID" android:value="62fd86ccda"/>
        <meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true"/>
        <meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START"/>
        <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="24"/>
        <meta-data android:name="BaiduMobAd_WIFI_ONLY" android:value="true"/>
        <meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true"/>
        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="09afbba276057d5b800bce14"/>
        
        
  		
    </application>

    
    
    
</manifest>
